<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>net.laravelnfsw.server</string>
		<key>WorkingDirectory</key>
		<string>$BASEDIR</string>
		<key>ProgramArguments</key>
        <array>
            <string>php artisan</string>
            <string>nfsw:start-socket</string>
        </array>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardErrorPath</key>
        <string>/tmp/net.laravelnfsw.server.err</string>
	</dict>
</plist>